<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
    * {
      max-width: 100vw;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Work Sans', sans-serif;
    }
  </style>
  <body>
    <nav class="flex justify-between items-center m-6">
      <div class="text-[20px] font-bold text-[#00BD51] cursor-pointer">INNO WHEELS</div>
      <div class="text-[20px] font-bold">
        <a href="/landing" class=" hover:text-[#00BD51]">HOME</a>
      </div>


      <div>
        <div class="container">
          <div class="chatbox">
              <div class="chatbox__support">
                  <div class="chatbox__header">
                      <div class="chatbox__image--header">
                          <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                      </div>
                      <div class="chatbox__content--header">
                          <h4 class="chatbox__heading--header">Chat support</h4>
                          <p class="chatbox__description--header">Hi. My name is Inno-Wheels. How can I help you?</p>
                      </div>
                  </div>
                  <div class="chatbox__messages">
                      <div></div>
                  </div>
                  <div class="chatbox__footer">
                      <input type="text" placeholder="Write a message...">
                      <button class="chatbox__send--footer send__button">Send</button>
                  </div>
              </div>
              <div class="chatbox__button">
                  <button class="bg-[#CEFDD5] w-[104px] h-[34px] rounded-[17px] font-medium hover:bg-[#00bd51] hover:text-white">Get Help</button>
              </div>
          </div>
      </div>
        <!-- <button
          class="bg-[#CEFDD5] w-[104px] h-[34px] rounded-[17px] font-medium hover:bg-[#00bd51] hover:text-white"
        >
          Get Help
        </button> -->
      </div>
    </nav>
    <div class="text-6xl font-semibold text-center py-6">
      Choose what you want to know!
    </div>

    <section class="flex items-center justify-center">
      <div class="flex flex-row justify-center items-center gap-20">
        <a href="/navigation">
          <div class="flex flex-col gap-6 items-center"> 
            <div
              class="w-[520px] h-[520px] rounded-full shadow-xl flex justify-center items-center hover:scale-105"
            >
              <img
                src="../static/assets/service1Img.webp"
                alt=""
                class="w-[400px] h-[300px]"
              />
            </div>
            <div class="font-medium text-[#00bd51] text-3xl">
              Navigation
              <i class="bx bxs-navigation" style="color: #00bd51"></i>
            </div>
          </div>
        </a>
        <a href="/prediction">
          <div class="flex flex-col gap-6 items-center">
            <div
              class="w-[520px] h-[520px] rounded-full shadow-xl flex justify-center items-center hover:scale-105"
            >
              <img
                src="../static/assets/service2Img.webp"
                alt=""
                class="w-[400px] h-[300px]"
              />
            </div>
            <div class="font-medium text-[#00bd51] text-3xl">
              CO2 Prediction <i class="bx bxs-cloud" style="color: #00bd51"></i>
            </div>
          </div>
        </a>
      </div>
    </section>
    <script src="../static/script.js"></script>
  </body>
</html>
